h1 {
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 50px;
}

p {
    background-color: rgb(255, 162, 0);
    color: white;
    font-size: 18px;
    padding: 20px;
    width: 250px;
    float: left;
}

img {
    float: left;
    padding: 10px;
    background-color: rgb(0, 122, 187);
}

